<h2>Reactive: Basics</h2>
<hr>
<div class="mb-3 row">
    <div class="col">

        <form 
            (ngSubmit)="save()"
            autocomplete="off"
            [formGroup]="myForm">

            <!--Product-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Product</label>
                <div class="col-sm-9">
                    
                    <input type="text"
                        class="form-control"
                        formControlName="product"
                        placeholder="Description of the product...">
                    
                    <span class="form-text text-danger"
                        *ngIf="checkValidField( 'product' )">
                        It must have 3 letters at least...
                    </span>

                </div>
            </div>
            
            <!--Price-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Price</label>
                <div class="col-sm-9">
                    
                    <input type="number"
                        class="form-control"
                        formControlName="price"
                        placeholder="Price of the product...">
                
                    <span class="form-text text-danger"
                    *ngIf="checkValidField( 'price' )">
                        The price must be a number greater or equal to 0...
                    </span>
                </div>
            </div>
            
            <!--Stock-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Stock</label>
                <div class="col-sm-9">
                    <input type="number"
                        class="form-control"
                        formControlName="stock"
                        placeholder="Stock of the product...">
                    <span class="form-text text-danger"
                        *ngIf="checkValidField( 'stock' )">
                            The stock must be a number greater or equal to 0...
                    </span>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col">
                    <button type="submit"
                        class="btn btn-primary float-end">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">

        <span>Valid</span>
        <pre>{{ myForm.valid }}</pre>

        <span>Pristine</span>
        <pre>{{ myForm.pristine }}</pre>

        <span>Touched</span>
        <pre>{{ myForm.touched }}</pre>

        <span>Value</span>
        <pre>{{ myForm.value | json }}</pre>

        <span>Errors</span>
        <pre>Product: {{ myForm.controls['product']?.errors | json }}</pre>
        <pre>Price: {{ myForm.controls['price']?.errors | json }}</pre>
        <pre>Stock: {{ myForm.controls['stock']?.errors | json }}</pre>

    </div>
</div>
